### **Tahmine Dayalı Atama İşlemi**

Makine öğrenmesine dayalı olarak gerçekleşir sadece fikir sahibi olmanız için bu bölüm oluşturulmuştur

KNN kullanacağız.

In [3]:
##################### GEÇMİŞ TANIMLAMALAR ##############################

# Kütüphaneler
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
# pip install missingno
import missingno as msno
from datetime import date
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler


# Pandas ayarları
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)


# Veri setleri
def load_application_train():
    data = pd.read_csv('../01-outliers/application_train.csv')
    return data

def load():
    data = pd.read_csv('../01-outliers/titanic.csv')
    return data


# Fonksiyonlar
# Eksik değer içeren değişkenleri dönen fonksiyon:
def missing_values_table(dataframe, na_name=False):
    na_columns = [col for col in dataframe.columns if dataframe[col].isnull().sum() > 0]
    n_miss = dataframe[na_columns].isnull().sum().sort_values(ascending=False)
    ratio = (dataframe[na_columns].isnull().sum() / dataframe.shape[0] * 100).sort_values(ascending=False)
    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['n_miss', 'ratio'])
    print(missing_df,end='\n')
    if na_name:
        return na_columns


def grab_col_names(dataframe, cat_th=10, car_th=20):
    """
    
    Veri setindeki kategorik, numerik ve kategorik fakat kardinal değişkenlerin isimlerini verir.
    Not: Kategorik değişkenlerin içerisine numerik görünümlü kategorik değişkenler de dahildir.

    Parameters
    -------
        dataframe: dataframe
                Değişken isimleri alınmak istenilen dataframe.
        cat_th: int, optinal
                Kategorik değişkenlerinin sayısının üst sınırı.
        car_th: int, optional
                Kategorik fakat kardinal değişkenler için sınıf eşik değeri.
    
    Returns
    -------
        cat_cols: list
                Kategorik değişken listesi.
        num_cols: list
                Numerik değişken listesi.
        cat_but_car: list
                Kategorik kardinal değişken listesi.
    """

    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtype == 'O']
    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and
                   dataframe[col].dtype != 'O']
                   
    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and
                     dataframe[col].dtype == 'O']
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtype != 'O']
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f"cat_cols: {len(cat_cols)}")
    print(f"num_cols: {len(num_cols)}")
    print(f"cat_but_car: {len(cat_but_car)}")
    print("******************")
    print(f"num_but_cat: {len(num_but_cat)}")
    return cat_cols, num_cols, cat_but_car

In [4]:
df = load()

cat_cols, num_cols, cat_but_car = grab_col_names(df)
num_cols = [col for col in num_cols if col not in "PassengerId"]

Observations: 891
Variables: 12
cat_cols: 6
num_cols: 3
cat_but_car: 3
******************
num_but_cat: 4

In [5]:
# Encoding bölümünde detaylı anlatılacak olan kategorik değişkenlerin sınıflarını numerik hale getiren ifade:
dff = pd.get_dummies(df[cat_cols + num_cols],drop_first=True)

In [6]:
dff.head()

   Survived  Pclass  SibSp  Parch    Age   Fare  Sex_male  Embarked_Q  Embarked_S
0         0       3      1      0 22.000  7.250         1           0           1
1         1       1      1      0 38.000 71.283         0           0           0
2         1       3      0      0 26.000  7.925         0           0           1
3         1       1      1      0 35.000 53.100         0           0           1
4         0       3      0      0 35.000  8.050         1           0           1

In [7]:
dff.head()

   Survived  Pclass  SibSp  Parch    Age   Fare  Sex_male  Embarked_Q  Embarked_S
0         0       3      1      0 22.000  7.250         1           0           1
1         1       1      1      0 38.000 71.283         0           0           0
2         1       3      0      0 26.000  7.925         0           0           1
3         1       1      1      0 35.000 53.100         0           0           1
4         0       3      0      0 35.000  8.050         1           0           1

In [8]:
# Tahmine dayalı atama işlemi yapabilmemiz için değişkenleri standarlaştırmalıyız:
scaler = MinMaxScaler()
dff = pd.DataFrame(scaler.fit_transform(dff), columns=dff.columns)
dff.head()

   Survived  Pclass  SibSp  Parch   Age  Fare  Sex_male  Embarked_Q  Embarked_S
0     0.000   1.000  0.125  0.000 0.271 0.014     1.000       0.000       1.000
1     1.000   0.000  0.125  0.000 0.472 0.139     0.000       0.000       0.000
2     1.000   1.000  0.000  0.000 0.321 0.015     0.000       0.000       1.000
3     1.000   0.000  0.125  0.000 0.435 0.104     0.000       0.000       1.000
4     0.000   1.000  0.000  0.000 0.435 0.016     1.000       0.000       1.000

In [10]:
# KNN uygulanması:

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
dff = pd.DataFrame(imputer.fit_transform(dff), columns=dff.columns)
dff.head()

   Survived  Pclass  SibSp  Parch   Age  Fare  Sex_male  Embarked_Q  Embarked_S
0     0.000   1.000  0.125  0.000 0.271 0.014     1.000       0.000       1.000
1     1.000   0.000  0.125  0.000 0.472 0.139     0.000       0.000       0.000
2     1.000   1.000  0.000  0.000 0.321 0.015     0.000       0.000       1.000
3     1.000   0.000  0.125  0.000 0.435 0.104     0.000       0.000       1.000
4     0.000   1.000  0.000  0.000 0.435 0.016     1.000       0.000       1.000

In [11]:
# Doldurulan yerleri görmek için standartlaştırma işlemini geri alalım.
dff = pd.DataFrame(scaler.inverse_transform(dff), columns=dff.columns)
dff.head()

   Survived  Pclass  SibSp  Parch    Age   Fare  Sex_male  Embarked_Q  Embarked_S
0     0.000   3.000  1.000  0.000 22.000  7.250     1.000       0.000       1.000
1     1.000   1.000  1.000  0.000 38.000 71.283     0.000       0.000       0.000
2     1.000   3.000  0.000  0.000 26.000  7.925     0.000       0.000       1.000
3     1.000   1.000  1.000  0.000 35.000 53.100     0.000       0.000       1.000
4     0.000   3.000  0.000  0.000 35.000  8.050     1.000       0.000       1.000

In [12]:
# Şimdi age_imputed_column değişkeni oluşturup yeni age değişkenini atayalım:
df['age_imputed_column'] = dff[['Age']]

In [13]:
df.loc[df["Age"].isnull(), ["Age","age_imputed_column"]]

     Age  age_imputed_column
5    NaN              47.800
17   NaN              37.600
19   NaN              12.200
26   NaN              32.800
28   NaN              17.600
29   NaN              24.400
31   NaN              29.600
32   NaN              17.600
36   NaN              21.800
42   NaN              28.700
45   NaN              38.400
46   NaN              47.800
47   NaN              17.600
48   NaN              19.200
55   NaN              47.000
64   NaN              51.000
65   NaN              17.484
76   NaN              24.400
77   NaN              38.400
82   NaN              17.600
87   NaN              38.400
95   NaN              38.400
101  NaN              24.400
107  NaN              30.200
109  NaN              17.600
121  NaN              38.400
126  NaN              47.800
128  NaN               5.100
140  NaN              20.700
154  NaN              31.100
158  NaN              22.600
159  NaN               8.800
166  NaN              35.200
168  NaN              56.200
176  NaN               5.200
180  NaN               8.800
181  NaN              30.100
185  NaN              41.400
186  NaN              17.600
196  NaN              47.800
198  NaN              17.600
201  NaN               8.800
214  NaN              47.800
223  NaN              24.400
229  NaN               5.600
235  NaN              26.600
240  NaN              20.700
241  NaN              17.600
250  NaN              31.100
256  NaN              36.000
260  NaN              47.800
264  NaN              28.100
270  NaN              50.300
274  NaN              17.600
277  NaN              34.000
284  NaN              56.200
295  NaN              51.000
298  NaN              47.000
300  NaN              17.600
301  NaN              25.400
303  NaN              20.400
304  NaN              38.400
306  NaN              38.600
324  NaN               8.800
330  NaN              17.600
334  NaN              43.800
335  NaN              24.400
347  NaN              22.800
351  NaN              52.200
354  NaN              32.800
358  NaN              17.600
359  NaN              17.600
364  NaN              47.800
367  NaN              12.200
368  NaN              17.600
375  NaN              46.800
384  NaN              24.400
388  NaN              37.800
409  NaN               5.600
410  NaN              24.400
411  NaN              33.500
413  NaN              34.000
415  NaN              22.800
420  NaN              28.700
425  NaN              31.100
428  NaN              47.800
431  NaN              22.800
444  NaN              26.000
451  NaN              27.800
454  NaN              38.400
457  NaN              31.800
459  NaN              47.800
464  NaN              38.400
466  NaN              34.000
468  NaN              37.800
470  NaN              31.100
475  NaN              41.400
481  NaN              34.000
485  NaN               5.600
490  NaN              27.800
495  NaN              27.100
497  NaN              21.500
502  NaN              28.100
507  NaN              41.200
511  NaN              38.400
517  NaN              47.800
522  NaN              32.800
524  NaN              25.800
527  NaN              38.800
531  NaN              25.800
533  NaN              12.600
538  NaN              21.500
547  NaN              19.600
552  NaN              47.800
557  NaN              32.000
560  NaN              47.800
563  NaN              38.400
564  NaN              22.800
568  NaN              25.800
573  NaN              17.600
578  NaN              20.700
584  NaN              29.300
589  NaN              38.400
593  NaN              28.100
596  NaN              38.800
598  NaN              32.800
601  NaN              24.400
602  NaN              39.600
611  NaN              25.800
612  NaN              17.600
613  NaN              47.800
629  NaN              37.800
633  NaN              39.400
639  NaN              30.000
643  NaN              29.800
648  NaN              33.200
650  NaN              24.400
653  NaN              17.600
656  NaN              24.400
667  NaN              34.400
669  NaN              31.800
674  NaN              34.000
680  NaN              28.100
692  NaN              29.800
697  NaN              17.600
709  NaN              17.484
711  NaN              58.000
718  NaN              47.800
727  NaN              17.600
732  NaN              34.000
738  NaN              24.400
739  NaN              24.400
740  NaN              47.000
760  NaN              21.500
766  NaN              58.400
768  NaN              47.800
773  NaN              32.800
776  NaN              47.800
778  NaN              37.800
783  NaN              30.300
790  NaN              47.800
792  NaN               8.800
793  NaN              51.000
815  NaN              39.400
825  NaN              33.500
826  NaN              28.900
828  NaN              27.900
832  NaN              25.800
837  NaN              38.400
839  NaN              37.800
846  NaN               8.800
849  NaN              46.800
859  NaN              25.800
863  NaN               8.800
868  NaN              25.000
878  NaN              24.400
888  NaN              22.200

In [ ]:
# TEKRARLAYALIM

# Veri setini tanımlayalım.
df = load()

# Sayısal değişkenleri direk medyan ile doldurma
df.apply(lambda x: x.fillna(x.median()) if x.dtype != "O" else x, axis=0).isnull().sum()

# Kategorik değişkenleri mode ile doldurma
df.apply(lambda x: x.fillna(x.mode()[0]) if (x.dtype == "O" and len(x.unique()) < 10) else x, axis=0).isnull().sum()

# Kategorik değişken kırılımında sayısal değişkenleri doldurmak
df["Age"].fillna(df.groupby("Sex")["Age"].transform("mean")).isnull().sum()