### **Label Encoding & Binary Encoding**

Label encoding, binary encoding'i kapsar. ( Label Encoding ⊃ Binary Encoding )

In [19]:
##################### GEÇMİŞ TANIMLAMALAR ##############################

# Kütüphaneler
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
# pip install missingno
import missingno as msno
from datetime import date
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler


# Pandas ayarları
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)


# Veri setleri
def load_application_train():
    data = pd.read_csv('../01-outliers/application_train.csv')
    return data

def load():
    data = pd.read_csv('../01-outliers/titanic.csv')
    return data

In [20]:
df = load()
df.head()

   PassengerId  Survived  Pclass                                               Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000      1      0          PC 17599 71.283   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000      1      0            113803 53.100  C123        S
4            5         0       3                           Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN        S

In [21]:
df["Sex"].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [22]:
# Sex değişkenine binary-encoding uygulamak istiyoruz.

> Encoding neden uygulanır?

Veri setini, makine öğrenmesi yöntemlerini kullanmak istediğimizde algoritmaların istediği (aradığı) veri seti yapısına çevirmek için encoding uygulanır. (İstenilen standarta çevirmek için)

In [23]:
# Label Encoder tanımlayalım
le = LabelEncoder()

le.fit_transform(df["Sex"])[0:5]

array([1, 0, 0, 0, 1])

In [24]:
le.inverse_transform([0,1])

array(['female', 'male'], dtype=object)

In [25]:
# Label encoding için fonksiyon
def label_encoder(dataframe,binary_col):
    labelencoder = LabelEncoder()
    dataframe[binary_col] = labelencoder.fit_transform(dataframe[binary_col])
    return dataframe

In [26]:
df = load()

# Binary yani iki kategorik degişkene sahip değişkenleri tespit edelim.
binary_cols = [col for col in df.columns if df[col].dtype not in ["int64", "float64"]
               and df[col].nunique() == 2]  #unique().len() == 2 diyemeyiz çünkü unique eksik değerleri de sınıf olarak görür. 

binary_cols
# Burada sadece bir tane binary encoding kullanılabilir değişken çıktı. Daha büyük veri setlerinde daha fazla çıkabilir.

['Sex']

In [27]:
# Daha büyük veri setinde deneyelim.
df = load_application_train()

In [28]:
binary_cols = [col for col in df.columns if df[col].dtype not in ["int64", "float64"]
               and df[col].nunique() == 2]  #unique().len() == 2 diyemeyiz çünkü unique eksik değerleri de sınıf olarak görür. 

binary_cols

['NAME_CONTRACT_TYPE',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'EMERGENCYSTATE_MODE']

In [29]:
df[binary_cols].head()

  NAME_CONTRACT_TYPE FLAG_OWN_CAR FLAG_OWN_REALTY EMERGENCYSTATE_MODE
0         Cash loans            N               Y                  No
1         Cash loans            N               N                  No
2    Revolving loans            Y               Y                 NaN
3         Cash loans            N               Y                 NaN
4         Cash loans            N               Y                 NaN

In [30]:
# Label_encoder fonksiyonunu kullanalım.

for col in binary_cols:
    label_encoder(df,col)

In [31]:
df[binary_cols].head()
# DIKKAT: Eksik değerlere 2 değeri verilmiştir. Bu bazen  istenen bazen istenmeyen bir durumdur.

   NAME_CONTRACT_TYPE  FLAG_OWN_CAR  FLAG_OWN_REALTY  EMERGENCYSTATE_MODE
0                   0             0                1                    0
1                   0             0                0                    0
2                   1             1                1                    2
3                   0             0                1                    2
4                   0             0                1                    2